body {
  background-color: red;
}

.gameScreen {
  background-color: grey;
  width: 1000px;
  height: 600px;
  margin: auto;
}

.space {
  background-color: grey;
  width: 1000px;
  height: 95px;
  margin: auto;
}

.line {
  background-color: black;
  height: 5px;
  position: relative;
}

.line:before {
  content:'';
  background-color: black;
  width: 30%;
  height: 5px;
  position: absolute;
}

.line:after {
  content:'';
  background-color: blue;
  width: 10%;
  height: 5px;
  position: absolute;
  float: right;
}
