html, body {
  max-width: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  border: 5px solid black;
}

.space {

  height: 195px;
}

.gap {
  background-color: black;
  height: 5px;
}

.line {
  background-color: yellow;
  height: 5px;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 30px;
  position:absolute;
  top:4%;
  left:50%;
}

p {
  font-size: 50px;
}

#start {
  margin: auto;
  padding: 50px;
  margin-top: 30px;
  font-size: 60px;
  display: inline-block;
}

#restart {
  margin: auto;
  padding: 50px;
  margin-top: 30px;
  font-size: 60px;
  display: none;
}

h1 {
  font-size: 60px;
}

aside {
  padding: 50px;
  display: inline-block;
  width: 80%;

}
